
.background {
    position: absolute;
    background-color: #e6cfe7cc;
    /* background-color: rgba(14, 95, 224, 0.9); */
    z-index: -1;
    padding:0px;
    left: 0;
    right: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
  }
  svg {
    position: absolute;
    top: 0;
    left: 100;
    /* width: 100%;
    height: 100%; */
    transform: scaleY(2) scaleX(1);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
  }
 
  #img{
    height: 300px;
    width: 300px;
    right: 0;
  }
  #para{
    text-align: center;
  }
  .clamped-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Adjust the number of lines as needed */
    line-height: 1.5; /* Adjust the line height for spacing between lines */
  }